@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

/*-----Global-----*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%
}

html{
    font-family: 'Lato', sans-serif;
}

.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-size: 40px;
}

h3{
    font-size: 32px;
    font-weight: 400; 
}

a{
    text-decoration: none;
    font-size: 16px;
    color: #202661;
}
/*-----Header-----*/

#header{
    background: url(../SmartPhone_wife+Mockup2-assets/Header.jpg) no-repeat center fixed;
    background-size: cover;
    min-height: 800px;
    position: relative; 
}

#header aside{
    width: 100%;
    max-width: 550px;
    padding: 0 0 0 50px;
    position: absolute;
    top: 250px;
}

#header aside h1{
    color: #777;
    margin-bottom: 40px;
}

#header aside a{
    padding: 15px 45px;
    
    border: 2px solid #202661;
    border-radius: 50px;
    transition: background .2s ease-out;
}

#header aside a:hover{
    background: #202661;
    color: white;
    border: none;
}
/*-----Nav-----*/

nav{
    overflow: hidden;
    padding: 30px 0 0 50px;
    vertical-align: top;
}

nav ul li{
    list-style: none;
    float: right;
}

nav ul li a{
    padding: 20px 40px 0 0;
}

nav a.Logo{
    font-weight: 900;
    font-size: 26px;
    float: left;
}

/*-----Products-----*/

section.products{
    overflow: hidden;
}

section.products div.compare{
    background: #202661; 
    height: auto;
    min-height: 600px;
    text-align: center;
}

section.products div.compare h3{
    color: white;
    margin-bottom: 40px;
}

section.products div.compare a{
    padding: 15px 45px;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    transition: background .2s ease-out;
}

section.products div.compare a:hover{
    background: white;
    color: #202661;
    border: none;
}

section.products div.headphones{
    background:rgba(0, 0, 0, .5) url(../SmartPhone_wife+Mockup2-assets/HEadphones.jpg) no-repeat;
    background-size: cover;
    height: auto;
    min-height: 600px;
    text-align: center;
}

section.products div.headphones h3{
    color: white;
}